<% if is_confirmed_member_of_team(session[:person].id, @team.id) %>
	
	<% @heading=@list.name; %>
	<% @h1class='list' %>
	
	<% @breadcrumbs = link_to_team(@team, 'breadcrumb')  + " &gt; " + link_to_list(@list, 'breadcrumb') %>
			
	<% form_tag(:action => 'update', :id => @list) do %><div>
	
	  <%= render :partial => 'form' %>
	
	</table>
	
	<br />
	  
	  <%= submit_tag 'Save list' %>
	</div><% end %>

<% else %>

	<%= access_denied() %>
	
<% end %>