<% if @numbercreated > 0 %>
	<p><%= @numbercreated.to_s %> new list<%= 's' unless @numbercreated.to_i == 1 %> created for <%= link_to_team(@team, 'picturelink') %>.</p>
<% else %>
	<p>No lists were created.</p>
<% end %>

<% if @numberfailed > 0 %>
	<p><%= @numberfailed.to_s %> list<%= 's' unless @numbercreated.to_i == 1 %> could not be created.</p>
<% end %>

<p><a href='/lists/quickcreate?team=<%= @team.id.to_s %>' class='action'>Create more lists?</a></p>