<% if is_confirmed_member_of_team(session[:person].id, @team.id) %>

	<% @heading=@team.name; %>
	<% @h1class='team' %>
	
	<% @breadcrumbs = link_to_team(@team, 'breadcrumb') %>
	
	<%= render :partial => 'form' %>


<% else %>

	<%= access_denied() %>
	
<% end %>
