<% content_for(:stylesheet) do %>
  <%= stylesheet_link_tag 'colourpicker' %>
<% end %>

<% content_for(:javascript) do %>
  <%= javascript_include_tag 'colourpicker', 'yahoo.color' %>
<% end %>

<% @heading="New team" %>
<% @h1class='team' %>

<% @breadcrumbs = "<a class='breadcrumb team' href='#'>New team</a>" %>

<% form_tag(:action => 'create') do %><div>
  <%= render :partial => 'form' %>
  <%= submit_tag "Save team" %>
</div><% end %>
