[submodule "vendor/rails"]
	path = vendor/rails
	url = git://github.com/rails/rails.git
[submodule "vendor/plugins/mislav_will_paginate"]
	path = vendor/plugins/mislav_will_paginate
	url = git://github.com/mislav/will_paginate.git
[submodule "vendor/plugins/attachment_fu"]
	path = vendor/plugins/attachment_fu
	url = git://github.com/technoweenie/attachment_fu.git
[submodule "vendor/plugins/rspec"]
	path = vendor/plugins/rspec
	url = git://github.com/dchelimsky/rspec.git
[submodule "vendor/plugins/rspec-rails"]
	path = vendor/plugins/rspec-rails
	url = git://github.com/dchelimsky/rspec-rails.git
[submodule "vendor/plugins/mychores_globalize"]
	path = vendor/plugins/mychores_globalize
	url = git://github.com/sermoa/mychores_globalize.git
[submodule "vendor/plugins/exceptional"]
	path = vendor/plugins/exceptional
	url = git://github.com/contrast/exceptional.git
