db/openid-store/*
db/backups/*
log/*
tmp/*
public/videos/*
public/pictures/0000/*
public/exports/*
backup_db
restore_db
nbproject/*
*~
config/database.yml
config/database.yml.online
config/environment.rb
config/environment-online.rb
config/environment-offline.rb
Rakefile
