<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" >
  <head>
    <title>MyChores - Printable monthly calendar</title>
    <%= stylesheet_link_tag('s2/planner2') %>

  </head>

  <body>

    <h3 style='float:right;'><a href='http://www.mychores.co.uk'>MyChores.co.uk</a> <%= "monthly calendar for #{session[:person].name} (best printed landscape)" %></h3>

    <h2><%= link_to(image_tag('arrow-left.png', :size => '15x12', :alt => 'previous month'), {'year' => @backyear, 'month' => @backmonth}) %> <%= Date.parse("#{@year}-#{@month}-01").strftime("%B %Y") %> <%= link_to(image_tag('arrow-right.png', :size => '15x12', :alt => 'next month'), {'year' => @forwardyear, 'month' => @forwardmonth}) %></h2>

    <% if @person.status.nil? %>
      <span><br />
      <a href='/home/supporters'>This page is available to site supporters.</a></span>
    <% else %>

      <% days_in_month = ::Time.days_in_month(@month.to_i, @year.to_i) %>



      <% day_of_month = 1 %>
      <% first_day = Date.new(@year.to_i, @month.to_i, 1) %>
      <% day_of_week = first_day.wday %>



      <table border='1' width='100%'>

        <tr>
          <th width='15%'>Sunday</th>
          <th width='14%'>Monday</th>
          <th width='14%'>Tuesday</th>
          <th width='14%'>Wednesday</th>
          <th width='14%'>Thursday</th>
          <th width='14%'>Friday</th>
          <th width='15%'>Saturday</th>
        </tr>

        <% if day_of_week > 0 -%>
          <tr><td colspan='<%= day_of_week.to_s %>' style='background-color:#EEEEEE;'>&nbsp;</td>
          <% end -%>

          <% while day_of_month <= days_in_month -%>
            <% if day_of_week == 0 -%>
              <tr>
              <% end -%>

              <td valign='top'>
                <b><%= day_of_month.to_s %></b>

                <!-- Tasks for the day -->
    <% for task in @this_months_tasks -%>
      <% if task.next_due.mday == day_of_month -%>
                    <br />
                    &#10063; <%= task.list.name %>: <%= task.short_name %>

                  <% end -%>
                <% end -%>
                                            
              </td>

              <% day_of_week += 1 -%>

              <% if day_of_week == 7 -%>
              </tr>
              <% day_of_week = 0 -%>
            <% end -%>

            <% day_of_month += 1 -%>
          <% end -%>

          <% last_day = first_day.end_of_month -%>

          <% day_of_week = (last_day).wday -%>

          <% filler = 6 - day_of_week -%>

          <% if filler > 0 -%>
            <td colspan='<%= filler.to_s %>' style='background-color:#EEEEEE;'>&nbsp;</td>
          <% end -%>

        </tr>
      </table>

      <div style='text-align: center;'><br />Please note: Each task only appears once. Your tasks may recur more than once in the month.</div>

    <% end %>


  </body>

</html>
