Dear <%= @name %>,

You have been invited to join a team: <%= @team %>.

Login to MyChores to accept or decline this invitation. You'll find the links when you login.

If you have any problems please email contact@mychores.co.uk

http://www.mychores.co.uk