Dear <%= @name %>,

<%= @person %> (<%= @login %>) has asked to join your team: <%= @team %>.

Login to MyChores to view their profile and accept or decline this request. You'll find the links when you login.

If you have any problems please email contact@mychores.co.uk

http://www.mychores.co.uk