Hi <%= @name %>,

<%= @content %>



MyChores - helping you keep on top of your chores!
http://www.mychores.co.uk

In case you'd forgotten your login, it is <%= @login %>.
You can reset your password here if necessary:
http://www.mychores.co.uk/admin/forgotpassword