Dear <%= @name %>,

The link below will enable you to change your MyChores password. If you do not want to change your password please ignore this email and your password will remain the same.

To change your password, click here:

http://www.mychores.co.uk/admin/resetpassword/<%= @id %>?code=<%= @code %>

If you have any problems please email contact@mychores.co.uk

http://www.mychores.co.uk