<% @heading = "Theme: " + @themename.capitalize %>

<center>

<img alt="<%= @themename %>" src="/images/new-themes/<%= @themename.downcase %>.png" style="border: 1px solid #999999;" align="absmiddle" height="148" width="250" />

<p><%= @themename.capitalize %> is used by <%= @number_of_people %> people on MyChores.</p>

</center>