body {
background-color:#FFFFFF;
background-image: url(../images/bgpetals.jpg);
background-repeat: no-repeat;
background-position: top center;
color: #551111;
}

a {
color: #441166;
}

a:hover {
color: #8F27D7;
}

#Top-bar {
position: absolute;
left: 0px;
right: 0px;
top:8px;
height: 40px;
text-align: center;
}

#Breadcrumb-bar {
position: absolute;
left: 0px;
right: 0px;
top: 65px;
height:23px;
padding:4px;
font-size: 11px;
text-align: center;
}

#Picture {
}

#Login-box {
position: absolute;
left: 10px; top: 40px;
width: 140px;
}

#Navigator {
position: absolute;
left: 10px;
top: 10px;
padding-top: 200px;
width: 120px; bottom: 10px;
}

#Right-bar {
position: absolute;
right: 0px; top: 10px; width: 120px;
bottom: 10px;
font-size: 11px;
padding: 20px 0px 0px 0px;
text-align: center;
}

#Content {
position: absolute;
left: 160px;
right: 160px;
top: 130px;
bottom: 10px;
}

div.tips {
border: 1px solid #FFDDDD;
background-color: #FFEEFF;
padding: 10px;
margin: 5px;
}

div.recurrence-options {
border: 1px solid #FFDDDD;
background-color: #FFEEFF;
width: 280px;
padding: 10px;
margin: 5px;
}

input, textarea, select {
border: 1px solid #FFDDDD;
}

optgroup {
border-bottom: 1px solid #FFDDDD;
}

input.styled {
width: 250px;
border: 1px solid #FFDDDD;
}

textarea.styled {
width: 250px;
height: 80px;
border: 1px solid #FFDDDD;
}

table.my-completions {
border: 1px solid #CCCCCC;
background-color: #FFEEFF;
padding: 5px;
margin: 10px;
text-align: right;
float: right;
}

tr.very_overdue, tr.importance7 {
background-color: #FBADAD;
}

tr.overdue, tr.importance6 {
background-color: #FFD7D7;
}

tr.due_today, tr.importance5 {
background-color: #FFE9BE;
}

tr.due_soon, tr.importance4 {
background-color: #E4FBE2;
}

table.calendar-table {
border-right: 1px solid #AAAAAA;
border-bottom: 1px solid #AAAAAA;
background-color: #FFFFFF;
}

tr.calendar-today {
background-color: #FFEEFF;
}

td.calendar-date {
border-left: 1px solid #AAAAAA;
border-top: 1px solid #AAAAAA;
text-align: center;
margin: 0px;
}

td.calendar-content {
border-left: 1px solid #AAAAAA;
border-top: 1px solid #AAAAAA;
text-align: left;
margin: 0px;
width: 300px;
}

td.sunday {
color: red;
}

th {
color: #441166;
}

h1 {
color: #441166;
}

h2 {
border-bottom: 1px dashed #551111;
}

div.actionbar {
font-size: 14px;
font-family: Georgia, Times, Serif;
font-style: italic;
padding-bottom: 5px;
text-align: center;
}

a.breadcrumb {
color: #551111;
}

a.picturelink {
color: #551111;
}

a.navpicturelink {
color: #551111;
}




span.specialhover:hover div {
background-color: #FFEEFF;
border: 1px solid #aaaaaa;
}



span.notice {
color: #551111;
border: 1px solid #AAAAAA;
background-color: #FFFFFF;
font-style: italic;
}

.fieldWithErrors {
  background-color: #441166;
}



span.statistics-overdue {
background-color: #FFD7D7;
}

span.statistics-due-today {
background-color: #FFE9BE;
}

span.statistics-done-today {
background-color: #E4FBE2;
}






.dynamic-tab-pane-control .tab-row .tab {
	border: 1px solid #AAAAAA;
	background:		White;
}

.dynamic-tab-pane-control .tab-row .tab.selected {
	background:		#FFDDDD;
}

.dynamic-tab-pane-control .tab-page {
	border-top:			1px solid #AAAAAA;
	/* background:		White; */
}





div.homepagebox {
border: 1px solid #CCCCCC;
background-color: #FFEEFF;
}