body {
background-color:#FFFFFF;
color: #666666;
}

a {
color: darkblue;
}

a:hover {
color: #3E52E0;
}

#Top-bar {
position: absolute;
left: 10px;
right: 150px;
top:10px;
height: 50px;
text-align: left;
border: 1px solid #CCCCCC;
padding: 20px;
background-image: url(../images/patience-fader.jpg);
background-repeat: repeat-x;
}

#Breadcrumb-bar {
position: absolute;
left: 30px;
right: 150px;
top: 75px;
height:23px;
padding:4px;
font-size: 11px;
text-align: left;
}

#Picture {
}

#Login-box {
position: absolute;
left: 10px; top: 110px;
width: 120px;
border: 1px solid #CCCCCC;
padding: 5px;
padding-top: 15px;
background-image: url(../images/patience-fader.jpg);
background-repeat: repeat-x;
}

#Navigator {
position: absolute;
left: 10px;
top: 240px;
width: 120px;
border: 1px solid #CCCCCC;
padding: 5px;
padding-top: 15px;
background-image: url(../images/patience-fader.jpg);
background-repeat: repeat-x;
}

#Right-bar {
position: absolute;
right: 10px; top: 10px;
width: 120px;
font-size: 11px;
text-align: center;
border: 1px solid #CCCCCC;
padding: 5px;
padding-top: 15px;
background-image: url(../images/patience-fader.jpg);
background-repeat: repeat-x;
}

#Login-box h3, #Navigator h3.navheader, #Right-bar h3 {
text-align: center;
border-bottom: 1px solid #CCCCCC;
}

#Content {
position: absolute;
left: 160px;
right: 160px;
top: 110px;
padding: 5px;
}

div.tips {
border: 1px solid #AAAAAA;
background-color: #FFFFFF;
padding: 10px;
margin: 5px;
background-image: url(../images/patience-fader.jpg);
background-repeat: repeat-x;
}

div.recurrence-options {
border: 1px solid #D1F1FF;
background-color: #F2FBFF;
width: 280px;
padding: 10px;
margin: 5px;
}

input, textarea, select {
border: 1px solid #CCCCCC;
}

optgroup {
border-bottom: 1px solid #CCCCCC;
}

input.styled {
width: 250px;
border: 1px solid #CCCCCC;
}

textarea.styled {
width: 250px;
height: 80px;
border: 1px solid #CCCCCC;
}

table.my-completions {
border: 1px solid #AAAAAA;
background-color: #FFFFFF;
padding: 5px;
margin: 10px;
text-align: right;
float: right;
background-image: url(../images/patience-fader.jpg);
background-repeat: repeat-x;
}

tr.very_overdue, tr.importance7 {
background-color: #FBADAD;
}

tr.overdue, tr.importance6 {
background-color: #FFD7D7;
}

tr.due_today, tr.importance5 {
background-color: #FFE9BE;
}

tr.due_soon, tr.importance4 {
background-color: #E4FBE2;
}

table.calendar-table {
border-right: 1px solid #CCCCCC;
border-bottom: 1px solid #CCCCCC;
background-color: #FFFFFF;
}

tr.calendar-today {
background-color: #F8F8F8;
}

td.calendar-date {
border-left: 1px solid #CCCCCC;
border-top: 1px solid #CCCCCC;
text-align: center;
margin: 0px;
}

td.calendar-content {
border-left: 1px solid #CCCCCC;
border-top: 1px solid #CCCCCC;
text-align: left;
margin: 0px;
width: 300px;
}

td.sunday {
color: red;
}

th {
color: #444444;
}

h1 {
color: #444444;
}

h2 {
color: #444444;
border-bottom: 1px dashed #444444;
}

h3 {
color: #444444;
}

div.actionbar {
font-size: 14px;
font-family: Georgia, Times, Serif;
font-style: italic;
padding-bottom: 15px;
text-align: left;
}

a.breadcrumb {
color: #444444;
}

a.picturelink {
color: #444444;
}

a.navpicturelink {
color: #444444;
}




span.specialhover:hover div {
background-color: #EEEEFF;
border: 1px solid #aaaaaa;
}



span.notice {
color: #444444;
border: 1px solid #444444;
background-color: #EEEEFF;
}

.fieldWithErrors {
  background-color: #0099FF;
}



span.statistics-overdue {
background-color: #FFD7D7;
}

span.statistics-due-today {
background-color: #FFE9BE;
}

span.statistics-done-today {
background-color: #E4FBE2;
}






.dynamic-tab-pane-control .tab-row .tab {
	border: 1px solid #AAAAAA;
	background: #F8F8F8;
}

.dynamic-tab-pane-control .tab-row .tab.selected {
	background:		#EEEEEE;
}

.dynamic-tab-pane-control .tab-page {
	border-top:			1px solid #AAAAAA;
	/* background:		White; */
}





div.homepagebox {
margin-top: 6px;
padding: 3px;
border: 1px solid #CCCCCC;
background-color: #F8F8F8;
}

/* Suzie wrote this for me:
nmtntmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhnnnnnnnaaaaq
22222222222244444444444444444444444444444-----------------------]]]][KKKKKKKKKKKKKKKKKIIIIIIIIIIIIIIIIAAAAAAAAAAAAA
*/
