body, p, ol, ul, td, input, textarea, select, optgroup {
font-family: Verdana, Arial, Sans-serif;
font-size: 11px;
}

a {
text-decoration: none;
}

a:link {
text-decoration: none;
}

a:visited {
text-decoration: none;
}

a:hover {
text-decoration: underline;
}

a:active {
text-decoration: none;
}

a.action {
font-size: 14px;
font-family: Georgia, Times, Serif;
font-style: italic;
}

div.warning {
text-align: center;
padding: 10px;
margin: 10px;
border: 1px dashed #F75638;
color: #F75638;
font-size: 12px;
font-weight: bold;
background-color: #FFEFEF;
}



div.homepagebox {
margin-top: 6px;
padding: 3px;
}

div.special {
text-align: center;
padding: 10px;
margin: 10px;
border: 1px dashed #FF9944;
color: #AA2222;
font-size: 14px;
font-weight: bold;
background-color: #FFF6DF;
}


div.stats {
text-align: center;
padding: 5px;
margin: 10px;
border: 1px dashed #267437;
color: #267437;
font-size: 12px;
background-color: #EBFDEF;
}

div.bottom-bar {
font-size: 9px;
letter-spacing: 2px;
text-align: center;
margin-top: 70px;
margin-bottom: 10px;
}

div.google-ads {
text-align: center;
margin-top: 60px;
margin-bottom: 10px;
}


table.topten td, table.topten th {
padding: 0px 2px 0px 2px;
margin: 0px;
border-bottom: 1px dotted #CCCCCC;
}



div {
padding: 0px;
margin: 0px;
/*border: 1px solid #AAAAAA;*/
}

p {
padding: 0px;
margin: 0px;
}

span.bar-chart-bar {
border: 1px solid #aaaaaa;
height: 8px;
padding: 0px;
margin: 0px;
}

span.column-chart-column {
border: 1px solid #aaaaaa;
width: 8px;
padding: 0px;
margin: 0px;
}

th {
font-size: 13px;
text-align: left;
vertical-align: top;
font-variant: small-caps;
padding: 3px;
}

td {
vertical-align: top;
padding: 3px;
}

#Emphasise td {
vertical-align: middle;
font-size: 14px;
}

#Emphasise a {
text-decoration: underline;
font-weight: bold;
}

h1 {
font-size: 28px;
font-family: Georgia, Times, Serif;
font-style: italic;
font-weight: bold;
display: inline;
background-position: center left;
background-repeat: no-repeat;
}

h1.home {
background-image: url(../images/icons/home-medium.png);
padding-left: 33px;
}

h1.person {
background-image: url(../images/icons/person-medium.png);
padding-left: 27px;
}

h1.team {
background-image: url(../images/icons/team-medium.png);
padding-left: 32px;
}

h1.list {
background-image: url(../images/icons/list-medium.png);
padding-left: 31px;
}

h1.task {
background-image: url(../images/icons/task-medium.png);
padding-left: 30px;
}

h1.search {
background-image: url(../images/icons/search-medium.png);
padding-left: 32px;
}

h2 {
font-size: 18px;
padding-left: 6px;
}

h3 {
font-size: 14px;
font-weight: bold;
margin: 0px;
}

h4 {
font-size: 13px;
font-style: italic;
margin: 2px;
}

img {
border: 0px;
}

img.tour {
padding: 20px;
}

img.sidelink {
padding: 0px;
}

a.sidelink {
font-weight: normal;
}

div.actionbar {
font-size: 14px;
font-family: Georgia, Times, Serif;
font-style: italic;
padding-bottom: 5px;
}


div.tips {
width: 300px;
}

a.breadcrumb {
padding-top: 3px;
margin-top: 0px;
background-color: transparent;
background-position: bottom left;
background-repeat: no-repeat;
font-weight: bold;
}

a.picturelink {
padding-top: 3px;
background-color: transparent;
background-position: bottom left;
background-repeat: no-repeat;
font-weight: bold;
white-space: nowrap;
display: inline;
}

a.navpicturelink {
display: block;
padding-top: 3px;
padding-bottom: 3px;
margin-top: 1px;
margin-bottom: 3px;
background-color: transparent;
background-position: center left;
background-repeat: no-repeat;
font-weight: bold;
}

a.home {
background-image: url(../images/icons/home-tiny.png);
padding-left: 17px;
}

a.person {
background-image: url(../images/icons/person-tiny.png);
padding-left: 13px;
}

a.team {
background-image: url(../images/icons/team-tiny.png);
padding-left: 17px;
}

a.list {
background-image: url(../images/icons/list-tiny.png);
padding-left: 17px;
}

a.task {
background-image: url(../images/icons/task-tiny.png);
padding-left: 16px;
}



span.specialhover div {
display: none;
}

span.specialhover:hover div {
display: inline;
position: absolute;
padding: 3px;
margin: 0px;
text-align: left;
}



span.notice {
font-size: 14px;
font-weight: bold;
display: inline;
position: absolute;
padding: 4px;
}

.emphasise {
font-size: 14px;
padding-bottom: 10px;
}

ul.emphasise {
list-style-type: circle;
}

div.emphasise {
border: 1px dashed #3E52E0;
padding: 20px;
background-color: #F2FBFF;
text-align: center;
}

a.emphasise {
font-weight: bold;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

.fieldWithErrors {
  padding: 1px;
  display: table;
}


blockquote {
background: transparent url(../images/quoleft.png) left top no-repeat;
}
blockquote div {
text-align: center;
padding: 0px 30px 0px 30px;
background: transparent url(../images/quoright.png) right bottom no-repeat;
}
