<% @heading="Thank you!" %>
<% @h1class='home' %>

<p>Thank you for making a donation to MyChores!</p>

<p>Your account status will be updated as soon as the donation has been verified.</p>

<p><%= link_to('Return home', {:controller => 'home', :action => 'index'}, 'class'=>'action') %></p>