<a href='http://openid.net/' target='_blank'><img src='/images/openid-large.png' width='133' height='50' alt='OpenID' border='0' /></a>
<p><a href='http://openid.net/' target='_blank'>OpenID</a> allows you to use a single identity multiple places. You can get an OpenID at <a href='https://www.myopenid.com/signup?affiliate_id=666' target='_blank'>myopenid.com</a>.</p>
